*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    width: 80%;
    padding: 20px;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75); /*Adicionado sombra*/
    display: flex;
    flex-direction: row; /*Colocando o alinhamento em linha*/
    justify-content: space-between;
}

.card__left{
    display: flex; /*Definindo como flex*/
    flex-direction: column; /*alinhando como coluna*/
    justify-content: center; /*alinhando ao centro a coluna*/
    padding: 10px;
}

.card__left > span {
    font-weight: 400;
    margin-bottom: 15px;
}

.card__left > h1 {
    margin-top: 15px;
    font-size: 25px;
}

.card__left > p {
    color: rgb(70, 70, 70);
}

.card__left > a {
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.card__right{

}
/*Media query é um conjunto de css que será aplicado a determinado tamanho de tela pré definido em suas configurações..*/
@media screen and (max-width: 625px) { /*Aqui ele esta dizendo: Quando chegar no pixel 992... Faça o seguinte..:*/
    .card { /*A classe content vai ter agora as seguintes configurações..*/
        max-width: 992px; /*Sua largura máxima será: 992px*/
        height: auto; /*Deixando sua altura automática quanto ao tamanho do dispositivo.*/
        margin: 1rem auto; /*E será centralizado*/
        border-radius: 1rem; /*Deixando o conteúdo do content com bordas. O fundo branco no caso..*/
        flex-direction: column-reverse;
    }
    .card__right > img {
        width: 100%;
         
    }
}