* {
    font-family: 'Roboto', sans-serif; /*Definindo que a fonte será Roboto*/
    box-sizing: border-box; /*Definindo que as bordas serão a soma do conteúdo mais o padding*/
}

body {
    background-color: #f6f8fc; /*Definindo a cor do backgroud*/
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

/*Media query é um conjunto de css que será aplicado a determinado tamanho de tela pré definido em suas configurações..*/
@media screen and (min-width: 992px) { /*Aqui ele esta dizendo: Quando chegar no pixel 992... Faça o seguinte..:*/
    .content { /*A classe content vai ter agora as seguintes configurações..*/
        max-width: 992px; /*Sua largura máxima será: 992px*/
        height: auto; /*Deixando sua altura automática quanto ao tamanho do dispositivo.*/
        margin: 1rem auto; /*E será centralizado*/
        border-radius: 1rem; /*Deixando o conteúdo do content com bordas. O fundo branco no caso..*/
    }
}

