.pokemons {
    display: grid; /*Definimos agora que a organização e posicionamento vai ser em grid (tabela)*/

    grid-template-columns: 1fr; /*Seguinte, aqui a gente define que o TEMPLATE das colunas serão duas colunas (por isso tem 2 vezes o 1fr ali) e também dividido por fração, (que é o 1fr), como se tem duas colunas será dividido com 50% obviamente..*/ 
    padding: 0; /*Retiramos o espaçamento interno*/
    margin: 0; /*Retiramos a margem*/
    list-style: none; /*Por sem uma lista ordenada retiramos o estilo (os números da ordenação)*/
}
.pokemons a {
    text-decoration: none;
 }

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

/*Editando todos os itens dentro da classe pokemon*/
.pokemon {
    display: flex; /*O display flex ou é um em cima do outro ou um em baixo do outro */
    flex-direction: column; /*Definindo então, como dito acima, um em baixo do outro... Se fosse um ao lado do outro seria ROW*/
    margin: .5rem; /*Margem externa*/
    padding: 1rem; /*Margem interna*/
    border-radius: 1rem; /*Vamos colocar bordas arredondadas*/
}

/*Abaixo editando quanto aos itens dentro da classe number.*/
.pokemon .number{
    color: #000; /*Colocando cor na letra*/
    opacity: .3; /*Colocando opacidade no número do pokemon*/
    text-align: right; /*Alinhando ela para direita*/
    font-size: .625rem; /*Alterando a font-size (diminuindo) para .625rem*/
}

/*Abaixo estamos editando todos os itens de dentro da classe .name*/
.pokemon .name{
    text-transform: capitalize; /*Colocando as primeiras letras em maiúsculo*/
    color: #fff; /*Cor das letras*/
    margin-bottom: .25rem; /*Adicionando margem em baixo...*/
}

/*Abaixo editando o posicionamento dos itens dentro da classe detail*/
.pokemon .detail{
    display: flex; /*Dizendo que a organização dos itens serão display flex (row or column)*/
    flex-direction: row; /*Definindo como horizontal*/
    align-items: center; /*Este item centraliza os itens de acordo com o tipo do flex direction que esta sendo utilizado, aqui neste caso esta pegando do .details que é do tipo row. Ou seja, vai centraliar no sentido horizontal.*/
    justify-content: space-between; /*Esse cara da um espaço entre os dois itens.*/
}

/*Abaixo editando os tipos dos pokemons*/
.pokemon .detail .types{
    padding: 0; /*Tirando margem interna*/
    margin: 0; /*tirando margem externa da listagem dos tipos dos pokemons*/
    list-style: none;
}

/*Abaixo estamos editando tudo de dentro da classe type*/
.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

/*Vamos acessar agora a imagem dentro da lista.. veja..*/
.pokemon .detail img {
    max-width: 100%; /*Definindo que ele sempre fique dentro dos componentes*/
    height: 70px; /*Definindo o tamanho da imagem*/
    /* align-self: flex-end; Alinhando a imagem para a direita, esta propriedade esta pegando como referência o display flex do ol.pokemons li */
}

.pokemon:hover{
    top:-4px;
    box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) { /*Aqui ele esta dizendo: Quando chegar no pixel 992... Faça o seguinte..:*/
    .pokemons { /*A classe content vai ter agora as seguintes configurações..*/
        grid-template-columns: 1fr 1fr; /*Seguinte, aqui a gente define que o TEMPLATE das colunas serão duas colunas (por isso tem 2 vezes o 1fr ali) e também dividido por fração, (que é o 1fr), como se tem duas colunas será dividido com 50% obviamente..*/
    }
}

@media screen and (min-width: 576px) { /*Aqui ele esta dizendo: Quando chegar no pixel 992... Faça o seguinte..:*/
    .pokemons { /*A classe content vai ter agora as seguintes configurações..*/
        grid-template-columns: 1fr 1fr 1fr; /*Seguinte, aqui a gente define que o TEMPLATE das colunas serão duas colunas (por isso tem 2 vezes o 1fr ali) e também dividido por fração, (que é o 1fr), como se tem duas colunas será dividido com 50% obviamente..*/
    }
}

@media screen and (min-width: 992px) { /*Aqui ele esta dizendo: Quando chegar no pixel 992... Faça o seguinte..:*/
    .pokemons { /*A classe content vai ter agora as seguintes configurações..*/
        grid-template-columns: 1fr 1fr 1fr 1fr; /*Seguinte, aqui a gente define que o TEMPLATE das colunas serão duas colunas (por isso tem 2 vezes o 1fr ali) e também dividido por fração, (que é o 1fr), como se tem duas colunas será dividido com 50% obviamente..*/
    }
}